@model Application.ViewModel.AdminSide.AdminProductViewModel;

@{
    Layout = "_AdminLayout";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="product-edit.html">Add Product</a>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <th>Image</th>
                                <th>Product Title</th>
                                <th>Status</th>
                                <th>Purchases</th>
                              
                                <th>Stock</th>
                                <th>Price</th>
                                <th>Setting</th>
                            </tr>
                      
                            @foreach (var game in Model.ListGames)
                            {
                                <tr>
                                    <td><img src="img/new-product/6-small.jpg" alt=""></td>
                                    <td>@game.Name</td>
                                    @if(game.Status.ToString() == "Active")
                                    {
                                        <td>
                                            <button class="pd-setting">@game.Status.ToString()</button>
                                        </td>
                                    }
                                    else if (game.Status.ToString() == "InActive")
                                    {
                                        <td>
                                            <button class="ds-setting">@game.Status.ToString()</button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button class="ps-setting">@game.Status.ToString()</button>
                                        </td>
                                    }

                                    <td>60</td>
                                 
                                    <td>In Stock</td>
                                    <td>$17</td>
                                    <td>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="" class="pd-setting-ed" data-original-title="Trash"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            }
                            
                         
                        </tbody>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>