@model List<Application.DTOs.UserSide.StorePart.GenreDto>

<div class="col-md-4">

    <select class="form-control">
        <option value="" disabled selected>Select Genre</option>
      

            @if (Model != null)
            {

                @foreach (var item in Model)
                {

                    <option value="@item.Id">@item.GenreUniqueName</option>

                }
            }

        


    </select>
</div>