

<div class="row vertical-gap">
    <div class="col-lg-6">
        <h3><span class="text-main-1">AJAX</span> Contact Form</h3>
        <div class="nk-gap"></div>
        <form  class="nk-form nk-form-ajax" >
            <div class="row vertical-gap sm-gap">
                <div class="col-md-6">
                    <input type="email" class="form-control required" name="email" placeholder="Email *">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control required" name="name" placeholder="Name *">
                </div>
            </div>
            <div class="nk-gap"></div>
            <textarea class="form-control required" name="message" rows="5" placeholder="Message *"></textarea>
            <div class="nk-gap-1"></div>
            <button class="nk-btn nk-btn-rounded nk-btn-color-dark-3">
                <span>Send</span>
                <span class="icon"><i class="ion-paper-airplane"></i></span>
            </button>
            <div class="nk-form-response-success"></div>
            <div class="nk-form-response-error"></div>
        </form>

      
    </div>




    
</div>